/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp F      &kp P     &kp B          &kp J        &kp L    &kp U      &kp Y    &kp SEMI  &kp MINUS
&kp BSPC   &kp A  &kp R  &kp S      &kp T     &kp G          &kp M        &kp N    &kp E      &kp I    &kp O     &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C      &kp D     &kp V          &kp K        &kp H    &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                         &kp LCTRL  &kp LGUI  &lt 1 SPACE    &lt 2 SPACE  &kp RET  &kp ESC
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans     &kp N1    &kp N2  &kp N3    &kp N4      &kp N5       &kp N6     &kp N7    &kp N8        &trans                &trans                 &kp MINUS
&trans     &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PRCNT    &kp CARET  &kp AMPS  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&kp LSHFT  &trans    &trans  &trans    &trans      &trans       &kp GRAVE  &trans    &trans        &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans
                             &kp LGUI  &trans      &kp SPACE    &kp RET    &trans    &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp DEL    &kp EXCL      &kp AT           &kp HASH   &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR         &kp RPAR   &kp BSPC
&kp LCTRL  &kp NUMBER_1  &kp KP_NUMBER_2  &kp KP_N3  &kp KP_N4  &kp KP_N5    &kp KP_N6  &kp KP_N7  &kp KP_N8        &kp KP_NUMBER_9  &kp KP_N0  &kp GRAVE
&kp LSHFT  &trans        &trans           &trans     &trans     &trans       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC         &kp PIPE   &kp TILDE
                                          &kp LGUI   &trans     &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };
    };
};
